<header>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="#content-about">About</a></li>
            <li><a href="#content-menu">Menu</a></li>
            <li><a href="#content-where">Where</a></li>
        </ul>
    </nav>
        <div class="banner">
            <div class="banner-opentime">
                Open from 6am to 5pm
            </div>
            <div class="banner-title">
                <h1>the<br>Cafe</h1>
            </div>
            <div class="banner-adress">
                15 Adr street, 5015
            </div>
        </div>
</header>
