<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap"
     rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./includes/navbar.ejs') -%>
    <%- include('./includes/conteudo.ejs') -%>
    <%- include('./includes/footer.ejs') -%>
  </body>
</html>
