
html,
body {
  padding: 0px;
  margin: 0px;
  font: 14px "Inconsolata", monospace, "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

figure {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 70vh;
  font-size: 1.5rem;
  text-align: center;
}

:root {
  --height-nav: 7vh;
}

nav {
  width: 100%;
  height: 10%;
  background-color: black;
}

nav ul {
  padding: 0px;
  margin: 0px;
  width: auto;
  height: 100%;
}

nav ul li {
  float: left;
  list-style: none;
  width: 25%;
  height: 100%;
  line-height: var(--height-nav);
}

nav ul li:hover {
  background-color: #CEB99F;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.banner {
  position: relative;
  width: 100%;
  height: 90%;
  background-image: url("../images/coffeehouse.jpg");
  background-repeat: no-repeat;
  background-size: 100% 190%;
  background-position: center;
  background-color: #CEB99F;
  color: white;
}

.banner-opentime {
  font-size: 0.9rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1rem 2rem;
  padding: 0.4rem;
  background-color: black;
}

.banner-title {
  font-size: 5rem;
  line-height: 9rem;
  position: absolute;
  height: auto;
  width: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.banner-adress {
  font-size: 0.9rem;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem 2rem;
  padding: 0.4rem;
}

.main-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  background-color: rgb(247, 245, 242);
  padding: 3.5rem 0;
}

.column {
  width: 60%;
  height: 100%;
  margin: 0 20%;
  left: 20%;
}

.image-fullwidth img{
  width: 100%;
  height: auto;
}

footer {
  font-size: 1.5rem;
  width: 100%;
  padding: 1.4rem 0;
  background-color: rgb(241, 241, 241);
  color: black;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.whitetext {
  color: white;
}

.blackbg {
  background-color: black;
}

.italic {
  font-style: italic;
}

.conteudo-subtitle {
  display: table;
  text-align: center;
  margin: 4rem auto; /* deixar centralizado */
  padding: 0.4rem 0.8rem;
}

.form-field {
  width: 100%;
  height: 3rem;
  margin: 0.8rem 0;
  padding: 0.3rem;
}

.form-button {
  height: 3rem;
  padding: 1rem;
  border: none;
}

.quote {
  padding: 1.5rem;
  border-left-style: outset;
  border-width: 0.7rem;
  border-color: rgb(220, 220, 220);
  background-color: rgb(241, 241, 241);
  line-height: 2.5rem;
}

.menu {
  box-shadow: 0 0 8px rgb(172, 166, 154);
}

.tab {
  box-shadow: 0 0 8px rgb(172, 166, 154);
}

.tablinks {
  display: inline-table;
  width: 45%;
  border: none;
  margin: 0.1rem 0.4rem;
  cursor: pointer;
  transition: 0.3s;
}
.tablinks .active {
  background-color: rgb(97, 97, 97);
  color: white; 
}